/* style.css */

body {
  background: linear-gradient(to right, #74cdd8, #e8f5e9);
  font-family: 'Poppins', sans-serif;
  padding: 20px;
   background-image: url('https://www.transparenttextures.com/patterns/clean-gray-paper.png');
  background-size: cover;
}

.container {
  max-width: 900px;
  background-color: #80d3c6;
  padding: 40px;
  border-radius: 16px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
}

h2 {
  text-align: center;
  color: #00796b;
  margin-bottom: 30px;
  font-weight: 600;
}

form input {
  border-radius: 10px;
  border: 1px solid #ccc;
  padding: 10px;
}

button[type="submit"] {
  width: 100%;
  margin-top: 15px;
  background-color: #00796b;
  color: white;
  border: none;
  padding: 10px;
  border-radius: 10px;
  font-weight: bold;
  transition: 0.3s;
}

button[type="submit"]:hover {
  background-color: #004d40;
}

.table {
  margin-top: 30px;
  border-radius: 10px;
  overflow: hidden;
}

.table th {
  background-color: #00796b;
  color: white;
}

.table td,
.table th {
  vertical-align: middle;
  text-align: center;
}

.deleteBtn {
  background-color: #f44336;
  border: none;
  padding: 6px 12px;
  border-radius: 8px;
  color: white;
  font-weight: 500;
}

.deleteBtn:hover {
  background-color: #c62828;
}
